PORT=5000
MONGO_URI="mongodb+srv://Vercel-Admin-joker-poker:JIJbkDWkJ0OqyL64@joker-poker.nenrhpa.mongodb.net/?retryWrites=true&w=majority"
JWT_SECRET=LoopingDonutNeo1!
NODE_ENV=production
ADMIN_USERNAME=Achilles
ADMIN_PASSWORD_HASH=6a6c6abfc26af47d322266ed272b800a
